@using ChartsMix.Models
@using Highsoft.Web.Mvc.Charts
@model DashbordModel
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/highcharts-3d.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="http://code.highcharts.com/modules/drilldown.js"></script>
<!-- MAIN CONTENT -->
<div id="content">
    <!-- row -->
    @*<div class="row">
        <!-- col -->
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark">
                <!-- PAGE HEADER -->
                <i class="fa fa-fw fa-bar-chart-o"></i>
                Graph
                <span>
                    >
                    Chart.js
                </span>
            </h1>
        </div>
    </div>*@
    <section id="widget-grid" class="">

        <!--Pie Chart-->
        <div class="row">
            <article class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="jarviswidget" id="pie3dChartWidget">
                    <header>
                        <h2>Pie Chart </h2>
                    </header>
                    @Html.Partial("_Pie3D", Model.PieModel, new ViewDataDictionary { TemplateInfo = new TemplateInfo { HtmlFieldPrefix = "PieModel" } })
                </div>
            </article>

            <article class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="jarviswidget" id="pieGroupChartWidget">
                    <header>
                        <h2>Pie Group Chart</h2>
                    </header>
                    @Html.Partial("_PieGroup", Model.pieGroupChartModel, new ViewDataDictionary { TemplateInfo = new TemplateInfo { HtmlFieldPrefix = "pieGroupChartModel" } })
                </div>
            </article>
        </div>
        <!--End Pie Chart-->
        <div class="row">
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget" id="wid-id-6">
                    <header>
                        <h2>Bar Group Chart</h2>
                    </header>
                    @Html.Partial("_BarGroup", Model.pieGroupChartModel, new ViewDataDictionary { TemplateInfo = new TemplateInfo { HtmlFieldPrefix = "barGroupChartModel" } })
                </div>
            </article>
        </div>

        @*<div class="row">

            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget" id="barChartWidget">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
                        <h2>Compare Chart</h2>
                    </header>
                    @Html.Partial("_ComparePeriodBarChart", Model.barChartModel, new ViewDataDictionary { TemplateInfo = new TemplateInfo { HtmlFieldPrefix = "periodChartModel" } })
                </div>
                <!-- end widget -->

            </article>
            <!-- WIDGET END -->

        </div>*@

        <div class="row">

            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget" id="barChartWidget">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
                        <h2>Bar Chart</h2>
                    </header>
                    @Html.Partial("_BarChart", Model.barChartModel, new ViewDataDictionary { TemplateInfo = new TemplateInfo { HtmlFieldPrefix = "barChartModel" } })
                </div>
                <!-- end widget -->

            </article>
            <!-- WIDGET END -->

        </div>


        <div class="row">

            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget" id="lineChartWidget">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
                        <h2>Line Chart</h2>
                    </header>
                    @Html.Partial("_LineChart", Model.lineChartModel, new ViewDataDictionary { TemplateInfo = new TemplateInfo { HtmlFieldPrefix = "lineChartModel" } })

                </div>
                <!-- end widget -->

            </article>
            <!-- WIDGET END -->

        </div>
        <div class="row">

            <!-- a blank row to get started -->
            <div class="col-sm-12">
                <!-- your contents here -->
            </div>

        </div>

        <!-- end row -->

    </section>
    <!-- end widget grid -->


</div>
<!-- END MAIN CONTENT -->

@section pagespecific {
<script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript">
        $('#ddlPie').change(function () {
            if ($('#ddlPie').val() == 5) {
                $('#divDatePie').css('display', '');
            }
            else {
                $('#divDatePie').css('display', 'none');
            }
        });

        $('#ddlPieGroup').change(function () {
            if ($('#ddlPieGroup').val() == 5) {
                $('#divDatePieGroup').css('display', '');
            }
            else {
                $('#divDatePieGroup').css('display', 'none');
            }
        });

        $('#ddlBarGroup').change(function () {
            if ($('#ddlBarGroup').val() == 5) {
                $('#divDateBarGroup').css('display', '');
            }
            else {
                $('#divDateBarGroup').css('display', 'none');
            }
        });

        $('#ddlBar').change(function () {
            if ($('#ddlBar').val() == 4) {
                $('#divDateBar').css('display', '');
            }
            else {
                $('#divDateBar').css('display', 'none');
            }
        });

        $('#ddlLine').change(function () {
            if ($('#ddlLine').val() == 4) {
                $('#divDateLine').css('display', '');
            }
            else {
                $('#divDateLine').css('display', 'none');
            }
        });

        $(document).ready(function () {
            $('.form_datetime').datetimepicker({
                //language:  'fr',
                weekStart: 1,
                todayBtn: 1,
                autoclose: 1,
                todayHighlight: 1,
                startView: 2,
                forceParse: 0,
                showMeridian: 1
            });
            // PAGE RELATED SCRIPTS  

            $('#pie3dChartWidget a[data-original-title~=Edit] i').on("click", function () {
                if ($('#pie3dChartWidget a[data-original-title~=Edit] i').hasClass("fa-save")) {
                    GetPieChart();
                }
            });

            $('#barChartWidget a[data-original-title~=Edit] i').on("click", function () {
                if ($('#barChartWidget a[data-original-title~=Edit] i').hasClass("fa-save")) {
                    GetBarChart();
                }
            });

            $('#pieGroupChartWidget a[data-original-title~=Edit] i').on("click", function () {
                if ($('#pieGroupChartWidget a[data-original-title~=Edit] i').hasClass("fa-save")) {
                    GetGroupChart();
                }
            });

            $('#lineChartWidget a[data-original-title~=Edit] i').on("click", function () {
                if ($('#lineChartWidget a[data-original-title~=Edit] i').hasClass("fa-save")) {
                    GetLineChart();
                }
            });

            $('.tree > ul').attr('role', 'tree').find('ul').attr('role', 'group');
            $('.tree').find('li:has(ul)').addClass('parent_li').attr('role', 'treeitem').find(' > span').attr('title', 'Collapse this branch').on('click', function (e) {
                var children = $(this).parent('li.parent_li').find(' > ul > li');
                if (children.is(':visible')) {
                    children.hide('fast');
                    $(this).attr('title', 'Expand this branch').find(' > i').removeClass().addClass('fa fa-lg fa-plus-circle');
                } else {
                    children.show('fast');
                    $(this).attr('title', 'Collapse this branch').find(' > i').removeClass().addClass('fa fa-lg fa-minus-circle');
                }
                e.stopPropagation();
            });
        })

        $('#dialog_simple').dialog({
            autoOpen: false,
            width: 600,
            resizable: false,
            modal: true,
            buttons: [{
                html: "<i class='fa fa-times'></i>&nbsp; Close",
                "class": "btn btn-default",
                click: function () {
                    $(this).dialog("close");
                }
            }]
        });

        function messageFailure(message)
        {
            $.bigBox({
                title: "Failed",
                content: message,
                color: "#C46A69",
                icon: "fa fa-warning shake animated",
                
            });

        }

        function messageSuccess(message) {
            $.smallBox({
                title: "Success!",
                content: message,
                color: "#739E73",
                timeout: 6000,
                icon: "fa fa-check"
            });
        }

    </script>
}

