@using ChartsMix.Models
@using Highsoft.Web.Mvc.Charts
@model BarChartModel

<div>
    @using (Html.BeginForm("Index", "Home"))
    {
        <div class="jarviswidget-editbox">
            <div class="widget-body">
                <div class="row">
                    <div class="col-md-3 form-group">
                        @Html.EnumDropDownListFor(m => m.period, "Period", new { @class = "form-control", @id = "ddlBar" })
                    </div>
                </div>

                <div class="row" id="divDateBar" style="display : none">
                    <div class="col-md-3 form-group">
                        @Html.EditorFor(m => m.From)
                    </div>
                    <div class="col-md-3 form-group">
                        @Html.EditorFor(m => m.To)
                    </div>
                </div>

                <div class="tree smart-form">
                    <ul>
                        @Html.Raw(Helpers.FormTreeView(Model.TreeRoot, "bar"))
                    </ul>
                </div>
            </div>
            <input type="button" class="btn btn-default" value="Show Bar Chart" id="getChartLine" onclick="GetBarChart()" />
            <!-- This area used as dropdown edit box -->
        </div>
    }
    <div class="widget-body">
        <div id="barChart"></div>
        @*@if (Model.Data != null)
        {
            @(Html.Highsoft().Highcharts(
                new Highcharts()
                {
                    Title = new Title
                    {
                        Text = "Monthly Average Rainfall"
                    },
                    Subtitle = new Subtitle
                    {
                        Text = "Source: WorldClimate.com"
                    },

                    XAxis = new List<XAxis>
                    {
                        new XAxis
                        {
                            Categories = Model.Dates
                        }
                            },
                    YAxis = new List<YAxis>
                            {
                        new YAxis
                        {
                            Min = 0,
                            Title = new YAxisTitle
                            {
                                Text = "Rainfall (mm)"
                            }
                        }
                            },
                    Tooltip = new Tooltip
                    {
                        HeaderFormat = "<span style='font-size:10px'>{point.key}</span><table style='font-size:12px'>",
                        PointFormat = "<tr><td style='color:{series.color};padding:0'>{series.name}: </td><td style='padding:0'><b>{point.y:.1f}&nbsp;mm</b></td></tr>",
                        FooterFormat = "</table>",
                        Shared = true,
                        UseHTML = true
                    },
                    PlotOptions = new PlotOptions
                    {
                        Column = new PlotOptionsColumn
                        {
                            PointPadding = 0.2,
                            BorderWidth = 0
                        }
                    },
                    Series = Model.Data
                }
                , "barChart")
            )
        }*@

    </div>



</div>


<script>

    function GetBarChart() {
        var model = {};
        model.Period = $('#ddlBar').val();
        model.From = $('#From').val();
        model.To = $('#To').val();
        model.Ids = [];
        $('input[name=barIds]:checked').each(function () {
            model.Ids.push($(this).attr('value'));
        });
        $.ajax({
            type: "GET",
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("GetLineChart", "Home")',
            data: model,
            dataType: "json",
            traditional: true,
            success: function (data) {
                var arr = [];
                var v = [];
                var len = data.Result.length;
                for (var i = 0; i < len; i++) {
                    v = [];
                    for (var j = 0; j < data.Result[i].things.length; j++)
                        v[j] = data.Result[i].things[j].Y;
                    arr.push({
                        data: v,
                        name: data.Result[i].Name
                    });
                }
                DreawBarChart(arr,data.Details);
            },
            error: function (data,dates) {
                alert("sam");
            }
        });
    }
    function DreawBarChart(data,info) {

        Highcharts.chart('barChart', {
            chart: {
                type: 'column'
            },
            title: {
                text: info.Title
            },
            subtitle: {
                text: info.SubTitle
            },
            xAxis: {
                categories: info.Dates
            },
            yAxis: {
                title: {
                    text: 'Consumption'
                }
            },
            plotOptions: {
                line: {
                    dataLabels: {
                        enabled: true
                    },
                    enableMouseTracking: true
                }
            },
            series: data
        });
    }

</script>