@using ChartsMix.Models
@using Highsoft.Web.Mvc.Charts
@model LineChartModel
<div>
    @using (Html.BeginForm("Index", "Home"))
    {
        <div class="jarviswidget-editbox">
            <div class="widget-body">
                <div class="row">
                    <div class="col-md-4 form-group">
                        @Html.EnumDropDownListFor(m => m.period, "Period", new { @class = "form-control", @id = "ddlLine" })
                    </div>
                    <div class="col-md-4 form-group">
                        <input type="text" class="form-control" id="tbLineValue" name="StandardValue" placeholder="Standard Value" />
                    </div>
                    <div class="col-md-4 form-group">
                        <section>
                            <label style="float : right;" class="inline-block checkbox"><input type="checkbox" checked="checked" name="defaultColors" id="chkLine"><i></i>Default Colors</label>
                        </section>
                    </div>
                </div>
                <div class="row" id="divDateLine" style="display : none">
                    <div class="col-md-3 form-group">
                        @Html.EditorFor(m => m.From)
                    </div>
                    <div class="col-md-3 form-group">
                        @Html.EditorFor(m => m.To)
                    </div>
                </div>
                <div class="tree smart-form">
                    <ul>
                        @Html.Raw(Helpers.FormTreeView(Model.TreeRoot, "line"))
                    </ul>
                </div>
            </div>
            <input type="button" class="btn btn-default" value="Show Line Chart" id="getChartLine" onclick="GetLineChart()" />
        </div>
    }
    <div class="widget-body">
        <div id="lineChartSummary" class="hidden col-md-6">
            <table class="table">
                <tr>
                    <td>Maximum Consumption</td>
                    <td>Minimum Consumption</td>
                    <td>Average Consumption</td>
                </tr>
                <tr>
                    <td><span id="lineChartMax"></span></td>
                    <td><span id="lineChartMin"></span></td>
                    <td><span id="lineChartAvg"></span></td>
                </tr>
            </table>
        </div>
        <div id="lineChart"></div>
    </div>
</div>
<script>

    function GetLineChart() {
        var model = {};
        model.Period = $('#ddlLine').val();
        model.From = dateFormat($('#lineChartModel_From').val());
        model.To = dateFormat($('#lineChartModel_To').val());
        model.Ids = [];
        model.StandardValue = $('#tbLineValue').val();
        var colors = [];
        if ($('#chkLine').is(":checked")) {
            $('input[name=lineIds]:checked').each(function () {
                model.Ids.push($(this).attr('value'));
            });
            colors = ['#7cb5ec', '#434348', '#90ed7d', '#f7a35c', '#8085e9', '#f15c80', '#e4d354', '#2b908f', '#f45b5b', '#91e8e1'];
        }
        else {
            $('input[name=lineIds]:checked').each(function () {
                model.Ids.push($(this).attr('value'));
                colors.push($(this).attr('color'));
            });
        }
        $.ajax({
            type: "GET",
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("GetLineChart", "Home")',
            data: model,
            dataType: "json",
            traditional: true,
            success: function (data) {
                var plotValue = $('#tbLineValue').val() == 0 ? null : $('#tbLineValue').val();
                var arr = [];
                var v = [];
                var popup = "";
                var len = data.Result.length;
                for (var i = 0; i < len; i++) {
                    v = [];
                    for (var j = 0; j < data.Result[i].things.length; j++)
                    {
                        if (plotValue != null) {
                            if (data.Result[i].things[j].Y > plotValue)
                                popup += data.Result[i].Name + " exceeded limit at " + data.Details.Dates[i] + "<br />";
                        }
                        v[j] = data.Result[i].things[j].Y;
                    }

                    arr.push({
                        data: v,
                        name: data.Result[i].Name
                    });
                }
                DrawChart(arr, colors, data.Details, plotValue, data.MaxConsumption, data.MinConsumption, data.AverageCunsumption);
                if (popup != "") {
                    messageFailure(popup);
                }
            },
            error: function (data, dates) {
                alert("Failed");
            }
        });
    }

    function DrawChart(data, colors, info, plotValue, max, min, avg) {

        $('#lineChartSummary').removeClass('hidden');
        $('#lineChartMax').text(Math.round(max));
        $('#lineChartMin').text(Math.round(min));
        $('#lineChartAvg').text(Math.round(avg));
        max = max;
        min = min;
        avg = avg;
        Highcharts.chart('lineChart', {
            exporting: {
                fallbackToExportServer: false,
                allowHTML: true
            },
            credits: {
                enabled: false,
                text: "ChartsMix.com",
                href: "http://www.chartsmix.com"
            },
            colors: colors,
            chart: {
                type: 'line'
            },
            title: {
                text: info.Title + ' Of Consumption'
            },
            subtitle: {
                text: info.SubTitle
            },
            xAxis: {
                categories: info.Dates
            },
            yAxis: {
                title: {
                    text: 'Consumption'
                },
                plotLines: [{
                    value: plotValue,
                    color: 'red',
                    dashStyle: 'shortdash',
                    width: 2,
                }]
            },
            plotOptions: {
                line: {
                    dataLabels: {
                        enabled: true
                    },
                    enableMouseTracking: true
                }
            },
            series: data
        });
    }

</script>