@using ChartsMix.Models
@using Highsoft.Web.Mvc.Charts
@model PieGroupModel
<div>
    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
    {
        <div class="jarviswidget-editbox">
            <div class="widget-body">
                <div class="row">
                    <div class="col-md-6 form-group">
                        @Html.EnumDropDownListFor(m => m.period, "Period", new { @class = "form-control", @id = "ddlPieGroup" })
                    </div>
                </div>
                <div class="row" id="divDatePieGroup" style="display : none">
                    <div class="col-md-6 form-group">
                        @Html.EditorFor(m => m.From)
                    </div>
                    <div class="col-md-6 form-group">
                        @Html.EditorFor(m => m.To)
                    </div>
                </div>
                <div class="form-group">
                    <label>Meter groups</label>
                    
                    <ul id="myTab1" class="nav nav-tabs bordered">
                        <li class="active">
                            <a href="#s1" id="s1toggle" data-toggle="tab">Select Groups </a>
                        </li>
                        <li>
                            <a href="#s2" data-toggle="tab"><i class="fa fa-fw fa-lg fa-gear"></i> Create new group</a>
                        </li>
                        
                    </ul>
                    @Html.Partial("_Groups", Model.Group, new ViewDataDictionary { TemplateInfo = new TemplateInfo { HtmlFieldPrefix = "GroupModel" } })
                    
                </div>
            </div>
            <input type="button" onclick="test()" value="Show Pie" />
        </div>
    }
    <div class="widget-body">
        <div>
            @if (Model.GroupData != null)
            {
                @(Html.Highsoft().Highcharts(
        new Highcharts
        {
            Title = new Title
            {
                Text = "Browser market shares. January, 2015 to May, 2015"
            },
            Subtitle = new Subtitle
            {
                Text = "Click the columns to view versions. Source: <a href='http://netmarketshare.com'>netmarketshare.com</a>."
            },
            XAxis = new List<XAxis>
            {
                new XAxis
                {
                    Type = XAxisType.Category
                }
            },
            YAxis = new List<YAxis>
            {
                new YAxis
                {
                    Title = new YAxisTitle
                    {
                        Text = "Total percent market share"
                    }
                }
            },
            Legend = new Legend
            {
                Enabled = false
            },
            Tooltip = new Tooltip
            {
                HeaderFormat = "<span style='font-size:11px'>{series.name}</span><br>",
                PointFormat = "<span style='color:{point.color}'>{point.name}</span>: <b>{point.y:.2f}%</b> of total<br/>"
            },

            PlotOptions = new PlotOptions
            {
                Series = new PlotOptionsSeries
                {
                    DataLabels = new PlotOptionsSeriesDataLabels
                    {
                        Enabled = true,
                        Format = "{point.name}: {point.y:.1f}%"
                    }
                }
            },
            Series = new List<Series>
            {
                new PieSeries
                {
                    Name = "Groups",
                    Data = Model.GroupData
                }
            },
            Drilldown = new Drilldown
            {
                Series = Model.Series
            }
        }
        , "pieChartGroup")
                )
            }
        </div>
    </div>
</div>

<script>

    function GetPieGroupChart() {
        var model = {};
        model.Period = $('#ddlPieGroup').val();
        model.From = $('#pieGroupChartModel_From').val();
        model.To = $('#pieGroupChartModel_To').val();
        model.Ids = $('#ddlGroups').val();
        
        $.ajax({
            type: "GET",
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("GetPieGroupChart", "Home")',
            data: model,
            dataType: "json",
            traditional: true,
            success: function (data) {
                var arr = [];
                var v = [];
                var len = data.Result.length;
                for (var i = 0; i < len; i++) {
                    v = [];
                    for (var j = 0; j < data.Result[i].things.length; j++)
                        v[j] = data.Result[i].things[j].Y;
                    arr.push({
                        data: v,
                        name: data.Result[i].Name
                    });
                }
                DreawChart(arr,data.Dates);
            },
            error: function (data,dates) {
                alert("sam");
            }
        });
    }
    function DreawChart(data,dates) {

        Highcharts.chart('lineChart', {
            chart: {
                type: 'area'
            },
            title: {
                text: 'Monthly Consumption'
            },
            subtitle: {
                text: 'Bader shwal'
            },
            xAxis: {
                categories: dates
            },
            yAxis: {
                title: {
                    text: 'Consumption'
                }
            },
            plotOptions: {
                line: {
                    dataLabels: {
                        enabled: false
                    },
                    enableMouseTracking: false
                }
            },
            series: data
        });
    }

</script>

<script>
    function test()
    {
        var ids = [];
        ids = $('#ddlGroups').val();
        alert(ids[0]);
    }
</script>