@using ChartsMix.Models
@using Highsoft.Web.Mvc.Charts
@model Pie3DModel
<div>
    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
    {
        <div class="jarviswidget-editbox">
            <div class="widget-body">
                <div class="row">
                    <div class="col-md-6 form-group">
                        @Html.EnumDropDownListFor(m => m.period, "Period", new { @class = "form-control", @id = "ddlPie" })
                    </div>
                </div>
                <div class="row" id="divDatePie" style="display : none">
                    <div class="col-md-6 form-group">
                        @Html.EditorFor(m => m.From)
                    </div>
                    <div class="col-md-6 form-group">
                        @Html.EditorFor(m => m.To)
                    </div>
                </div>
                <div class="tree smart-form">
                    <ul>
                        @Html.Raw(Helpers.FormTreeView(Model.TreeRoot, "pie"))
                    </ul>
                </div>
            </div>
            <input type="button" class="btn btn-default" value="Show Pie Chart" id="getChartPie" onclick="GetPieChart()" />
        </div>
    }
    <div class="widget-body">
            <div id="pieChart"></div></div>
</div>

<script>

    function GetPieChart() {
        var model = {};
        model.Period = $('#ddlPie').val();
        model.From = dateFormat($('#PieModel_From').val());
        model.To = dateFormat($('#PieModel_To').val());
        model.Ids = [];
        $('input[name=pieIds]:checked').each(function () {
            model.Ids.push($(this).attr('value'));
        });
        $.ajax({
            type: "GET",
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("GetPieChart", "Home")',
            data: model,
            dataType: "json",
            traditional: true,
            success: function (data) {
                var arr = [];
                var len = data.length;
                for (var i = 0; i < len; i++) {
                    arr.push({
                        y: data[i].Y,
                        name: data[i].Name
                    });
                }
                DrawPieChart(arr);
            },
            error: function (err) {
                alert(err);
            }
        });
    }
    function DrawPieChart(arr) {
        Highcharts.chart('pieChart', {
            chart: {
                type: 'pie',
                options3d: {
                    enabled: true,
                    alpha: 45,
                    beta: 0
                }
            },
            title: {
                text: 'Pie Chart Breakdown'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    depth: 35,
                    dataLabels: {
                        enabled: true,
                        format: '{point.name}'
                    }
                }
            },
            series: [{
                name: 'Meters',
                type: 'pie',
                data: arr
            }]
        });
    }

</script>