@using ChartsMix.Models
@using Highsoft.Web.Mvc.Charts
@model PieGroupModel
<div>
    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
    {
        <div class="jarviswidget-editbox">
            <div class="widget-body">
                <div class="row">
                    <div class="col-md-6 form-group">
                        @Html.EnumDropDownListFor(m => m.period, "Period", new { @class = "form-control", @id = "ddlPieGroup" })
                    </div>
                </div>
                <div class="row" id="divDatePieGroup" style="display : none">
                    <div class="col-md-6 form-group">
                        @Html.EditorFor(m => m.From)
                    </div>
                    <div class="col-md-6 form-group">
                        @Html.EditorFor(m => m.To)
                    </div>
                </div>
                <div class="form-group">
                    <label>Meter groups</label>

                    <ul id="myTab1" class="nav nav-tabs bordered">
                        <li class="active">
                            <a href="#s1" id="s1toggle" data-toggle="tab">Select Groups </a>
                        </li>
                        <li>
                            <a href="#s2" data-toggle="tab"><i class="fa fa-fw fa-lg fa-gear"></i> Create new group</a>
                        </li>

                    </ul>
                    @Html.Partial("_Groups", Model.Group, new ViewDataDictionary { TemplateInfo = new TemplateInfo { HtmlFieldPrefix = "GroupModel" } })

                </div>
            </div>
            <input type="button" class="btn btn-default" value="Show Groups Chart" id="getGroupChart" onclick="GetGroupChart()" />
        </div>
    }
    <div class="widget-body">
        <div id="groupChart"></div>
    </div>
</div>
<script>

    function GetGroupChart() {
        var model = {};
        model.Period = $('#ddlPieGroup').val();
        model.From = dateFormat($('#pieGroupChartModel_From').val());
        model.To = dateFormat($('#pieGroupChartModel_To').val());
        model.Ids = $('#ddlGroups').val();

        $.ajax({
            type: "GET",
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("GetGroupChart", "Home")',
            data: model,
            dataType: "json",
            traditional: true,
            success: function (data) {
                var drillDowns = [];
                var len = data.length;
                for (var i = 0; i < len; i++) {
                    drillDowns.push({
                        data: data[i].subGroups,
                        name: data[i].name,
                        id: data[i].name
                    });
                }
                DreawGroupedChart(data, drillDowns);
            },
            error: function (data) {
                alert("sam");
            }
        });
    }
    function DreawGroupedChart(data, arr) {
        Highcharts.chart('groupChart', {
            chart: {
                type: 'column'
            },
            title: {
                text: 'Browser market shares. January, 2015 to May, 2015'
            },
            subtitle: {
                text: 'Click the columns to view versions. Source: <a href="http://netmarketshare.com">netmarketshare.com</a>.'
            },
            xAxis: {
                type: 'category'
            },
            yAxis: {
                title: {
                    text: 'Total percent market share'
                }

            },
            legend: {
                enabled: false
            },
            plotOptions: {
                series: {
                    borderWidth: 0,
                    dataLabels: {
                        enabled: true,
                        format: '{point.y:.1f}%'
                    }
                }
            },

            tooltip: {
                headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}%</b> of total<br/>'
            },

            series: [{
                name: 'Meters',
                colorByPoint: true,
                data: data
            }],
            drilldown: {
                series: arr
            }
        });
    }

</script>