@using ChartsMix.Models
@using Highsoft.Web.Mvc.Charts
@model Pie3DModel
<div>
    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
    {
        <div class="jarviswidget-editbox">
            <div class="widget-body">
                <div class="row">
                    <div class="col-md-6 form-group">
                        @Html.EnumDropDownListFor(m => m.period, "Period", new { @class = "form-control", @id = "ddlPie" })
                    </div>
                </div>
                <div class="row" id="divDatePie" style="display : none">
                    <div class="col-md-6 form-group">
                        @Html.EditorFor(m => m.From)
                    </div>
                    <div class="col-md-6 form-group">
                        @Html.EditorFor(m => m.To)
                    </div>
                </div>
                <div class="tree smart-form">
                    <ul>
                        @Html.Raw(Helpers.FormTreeView(Model.TreeRoot, "pie"))
                    </ul>
                </div>
            </div>
            <input type="submit" value="Show Pie" />
        </div>
    }
    <div class="widget-body">
        <div>
            @if (Model.Data != null)
            {
                @(Html.Highsoft().Highcharts(
                                new Highcharts
                                {
                                    Chart = new Highsoft.Web.Mvc.Charts.Chart
                                    {
                                        Options3d = new ChartOptions3d
                                        {
                                            Enabled = true,
                                            Alpha = 45,
                                            Beta = 0
                                        }
                                    },
                                    Title = new Title
                                    {
                                        Text = DateTime.Now.ToShortDateString()
                                    },
                                    Tooltip = new Tooltip
                                    {
                                        PointFormat = "{series.name}: <b>{point.percentage:.1f}%</b>"
                                    },
                                    PlotOptions = new PlotOptions
                                    {
                                        Pie = new PlotOptionsPie
                                        {
                                            AllowPointSelect = true,
                                            Cursor = PlotOptionsPieCursor.Pointer,
                                            Depth = 35,
                                            DataLabels = new PlotOptionsPieDataLabels
                                            {
                                                Enabled = true,
                                                Format = "<b>{point.name}</b>"
                                            }
                                        }
                                    },
                                    Series = new List<Series>
                                    {
                                    new PieSeries
                                    {
                                        Name = "Browser Share",
                                        Data = Model.Data
                                    },

                                    }
                                }
                                , "chart")
                )
            }
        </div>
    </div>
</div>