@model ChartsMix.Models.Pie3DModel
@{
    ViewBag.Title = "Pie3D";
}
@using ChartsMix.Models
<link href="~/Content/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/highcharts-3d.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<link href="~/Content/MultiSelect.css" rel="stylesheet" />
@using Highsoft.Web.Mvc.Charts
<div class="row">
    @if (Model.EmptyMeters.Count > 0)
    {
        <span>The following meters are empty: </span>
        foreach (var item in Model.EmptyMeters)
        {
            <span>@item.Name ,</span>
        }
    }
</div>
<div class="col-md-4 tree">
    @Html.Raw(Helpers.Hello((Meter)ViewBag.tree))
</div>
<div class="row">
    <div class="col-md-3">
        @using (Html.BeginForm("Pie3D", "Charts", FormMethod.Post))
        {
            <div class="row" style="padding-top:15px">
                <dl class="dropdown">

                    <dt>
                        <a href="#">
                            <span class="hida">Meters</span>
                            <p class="multiSel"></p>
                        </a>
                    </dt>
                    <dd>
                        <div class="mutliSelect">
                            <ul>
                                @foreach (var item in Model.Items)
                                {
                                    <li>
                                        <input type="checkbox" name="Ids" value="@item.Value" />@item.Text
                                    </li>
                                }
                            </ul>
                        </div>
                    </dd>
                </dl>
            </div>
            <input type="submit" id="simpleConfirm" class="btn btn-primary" value="View Report" />
        }
    </div>
    <div class="col-md-8">
        @if (Model.Data != null)
        {
            @(Html.Highsoft().Highcharts(
            new Highcharts
            {
                Chart = new Highsoft.Web.Mvc.Charts.Chart
                {
                    Options3d = new ChartOptions3d
                    {
                        Enabled = true,
                        Alpha = 45,
                        Beta = 0
                    }
                },
                Title = new Title
                {
                    Text = DateTime.Now.ToShortDateString()
                },
                Tooltip = new Tooltip
                {
                    PointFormat = "{series.name}: <b>{point.percentage:.1f}%</b>"
                },
                PlotOptions = new PlotOptions
                {
                    Pie = new PlotOptionsPie
                    {
                        AllowPointSelect = true,
                        Cursor = PlotOptionsPieCursor.Pointer,
                        Depth = 35,
                        DataLabels = new PlotOptionsPieDataLabels
                        {
                            Enabled = true,
                            Format = "<b>{point.name}</b>"
                        }
                    }
                },
                Series = new List<Series>
                {
                new PieSeries
                {
                    Name = "Browser Share",
                    Data = Model.Data
                },

                }
            }
            , "chart")
            )
        }
    </div>
</div>

<script>

    $(document).ready(function () {

        // PAGE RELATED SCRIPTS

        $('.tree > ul').attr('role', 'tree').find('ul').attr('role', 'group');
        $('.tree').find('li:has(ul)').addClass('parent_li').attr('role', 'treeitem').find(' > span').attr('title', 'Collapse this branch').on('click', function (e) {
            var children = $(this).parent('li.parent_li').find(' > ul > li');
            if (children.is(':visible')) {
                children.hide('fast');
                $(this).attr('title', 'Expand this branch').find(' > i').removeClass().addClass('fa fa-lg fa-plus-circle');
            } else {
                children.show('fast');
                $(this).attr('title', 'Collapse this branch').find(' > i').removeClass().addClass('fa fa-lg fa-minus-circle');
            }
            e.stopPropagation();
        });

    })


    $(".dropdown dt a").on('click', function () {
        $(".dropdown dd ul").slideToggle('fast');
    });

    $(".dropdown dd ul li a").on('click', function () {
        $(".dropdown dd ul").hide();
    });

    function getSelectedValue(id) {
        return $("#" + id).find("dt a span.value").html();
    }

    $(document).bind('click', function (e) {
        var $clicked = $(e.target);
        if (!$clicked.parents().hasClass("dropdown")) $(".dropdown dd ul").hide();
    });

    $('.mutliSelect input[type="checkbox"]').on('click', function () {
        var title = $(this).closest('.mutliSelect').find('input[type="checkbox"]').val(),
          title = $(this).val() + ",";

        if ($(this).is(':checked')) {
            var html = '<span title="' + title + '">' + title + '</span>';
            $('.multiSel').append(html);
            $(".hida").hide();
        } else {
            $('span[title="' + title + '"]').remove();
            var spans = $('.multiSel .span');
            if (spans.length <= 0) {
                $('.hida').show();
            }
            var ret = $(".hida");
            $('.dropdown dt a').append(ret);
        }
    });
</script>